<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-energy-need-ng-request-heading" jhiTranslate="jhipsterEnergySampleApplicationApp.energyNeedNGRequest.home.createOrEditLabel">Create or edit a Energy Need NG Request</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!energyNeedNGRequest.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="energyNeedNGRequest.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterEnergySampleApplicationApp.energyNeedNGRequest.energyType" for="field_energyType">Energy Type</label>
                    <input type="text" class="form-control" name="energyType" id="field_energyType"
                        [(ngModel)]="energyNeedNGRequest.energyType" required/>
                    <div [hidden]="!(editForm.controls.energyType?.dirty && editForm.controls.energyType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.energyType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterEnergySampleApplicationApp.energyNeedNGRequest.updateDate" for="field_updateDate">Update Date</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" [(ngModel)]="updateDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.updateDate?.dirty && editForm.controls.updateDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.updateDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.updateDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterEnergySampleApplicationApp.energyNeedNGRequest.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="energyNeedNGRequest.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userSACOption.id" *ngFor="let userSACOption of usersacs; trackBy: trackUserSACById">{{userSACOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
