<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-energy-natural-gas-data-heading" jhiTranslate="jhipsterEnergySampleApplicationApp.energyNaturalGasData.home.createOrEditLabel">Create or edit a Energy Natural Gas Data</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!energyNaturalGasData.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="energyNaturalGasData.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterEnergySampleApplicationApp.energyNaturalGasData.pressure" for="field_pressure">Pressure</label>
                    <input type="text" class="form-control" name="pressure" id="field_pressure"
                        [(ngModel)]="energyNaturalGasData.pressure" required/>
                    <div [hidden]="!(editForm.controls.pressure?.dirty && editForm.controls.pressure?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pressure?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterEnergySampleApplicationApp.energyNaturalGasData.echelon" for="field_echelon">Echelon</label>
                    <input type="text" class="form-control" name="echelon" id="field_echelon"
                        [(ngModel)]="energyNaturalGasData.echelon" required/>
                    <div [hidden]="!(editForm.controls.echelon?.dirty && editForm.controls.echelon?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.echelon?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterEnergySampleApplicationApp.energyNaturalGasData.pressureDescription" for="field_pressureDescription">Pressure Description</label>
                    <input type="text" class="form-control" name="pressureDescription" id="field_pressureDescription"
                        [(ngModel)]="energyNaturalGasData.pressureDescription" required/>
                    <div [hidden]="!(editForm.controls.pressureDescription?.dirty && editForm.controls.pressureDescription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pressureDescription?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
