<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterEnergySampleApplicationApp.energyNRStateHistory.home.title">Energy NR State Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-energy-nr-state-history" [routerLink]="['/energy-nr-state-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterEnergySampleApplicationApp.energyNRStateHistory.home.createLabel">
            Create new Energy NR State History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="energyNRStateHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="energyType"><span jhiTranslate="jhipsterEnergySampleApplicationApp.energyNRStateHistory.energyType">Energy Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="justification"><span jhiTranslate="jhipsterEnergySampleApplicationApp.energyNRStateHistory.justification">Justification</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="jhipsterEnergySampleApplicationApp.energyNRStateHistory.updateDate">Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stateValue"><span jhiTranslate="jhipsterEnergySampleApplicationApp.energyNRStateHistory.stateValue">State Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="needNGRequestId"><span jhiTranslate="jhipsterEnergySampleApplicationApp.energyNRStateHistory.needNGRequest">Need NG Request</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="jhipsterEnergySampleApplicationApp.energyNRStateHistory.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let energyNRStateHistory of energyNRStateHistories ;trackBy: trackId">
                <td><a [routerLink]="['/energy-nr-state-history', energyNRStateHistory.id, 'view' ]">{{energyNRStateHistory.id}}</a></td>
                <td>{{energyNRStateHistory.energyType}}</td>
                <td>{{energyNRStateHistory.justification}}</td>
                <td>{{energyNRStateHistory.updateDate | date:'medium'}}</td>
                <td>{{energyNRStateHistory.stateValue}}</td>
                <td>
                    <div *ngIf="energyNRStateHistory.needNGRequestId">
                        <a [routerLink]="['../energy-need-ng-request', energyNRStateHistory.needNGRequestId , 'view' ]" >{{energyNRStateHistory.needNGRequestId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="energyNRStateHistory.userId">
                        <a [routerLink]="['../user-sac', energyNRStateHistory.userId , 'view' ]" >{{energyNRStateHistory.userId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/energy-nr-state-history', energyNRStateHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/energy-nr-state-history', energyNRStateHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'energy-nr-state-history/'+ energyNRStateHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="energyNRStateHistories && energyNRStateHistories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
