<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterEnergySampleApplicationApp.energyCycleData.home.title">Energy Cycle Data</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-energy-cycle-data" [routerLink]="['/energy-cycle-data/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterEnergySampleApplicationApp.energyCycleData.home.createLabel">
            Create new Energy Cycle Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="energyCycleData">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterEnergySampleApplicationApp.energyCycleData.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let energyCycleData of energyCycleData ;trackBy: trackId">
                <td><a [routerLink]="['/energy-cycle-data', energyCycleData.id, 'view' ]">{{energyCycleData.id}}</a></td>
                <td>{{energyCycleData.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/energy-cycle-data', energyCycleData.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/energy-cycle-data', energyCycleData.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'energy-cycle-data/'+ energyCycleData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
