<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterEnergySampleApplicationApp.userSAC.home.title">User SACS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-sac" [routerLink]="['/user-sac/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterEnergySampleApplicationApp.userSAC.home.createLabel">
            Create new User SAC
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userSACS">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userSACId"><span jhiTranslate="jhipsterEnergySampleApplicationApp.userSAC.userSACId">User SAC Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userName"><span jhiTranslate="jhipsterEnergySampleApplicationApp.userSAC.userName">User Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userEmail"><span jhiTranslate="jhipsterEnergySampleApplicationApp.userSAC.userEmail">User Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="jhipsterEnergySampleApplicationApp.userSAC.updateDate">Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userSAC of userSACS ;trackBy: trackId">
                <td><a [routerLink]="['/user-sac', userSAC.id, 'view' ]">{{userSAC.id}}</a></td>
                <td>{{userSAC.userSACId}}</td>
                <td>{{userSAC.userName}}</td>
                <td>{{userSAC.userEmail}}</td>
                <td>{{userSAC.updateDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-sac', userSAC.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-sac', userSAC.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-sac/'+ userSAC.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userSACS && userSACS.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
